<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.first.miso"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Check_Info"/>
        <activity android:name=".Check_Use_Money"/>
        <activity android:name=".Choose_Date"/>
        <activity android:name=".Choose_Skiplace"/>
        <activity android:name=".Move_Ski_Site"/>
        <activity android:name=".New_Register"/>
        <activity android:name=".Payment"/>
        <activity android:name=".Reserve_Cancel"/>
        <activity android:name=".Reserve_Info"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>